body {
	margin: 0 !important;
}

.g-content {
    margin: 0;
    padding: 0;
}

#g-main {
    padding: 0 0;
}

.blog-outline .g-content{
    padding: 0em 3em;
}

.post-list .g-block{
    padding: 0em 1em;
}

.archive-outline .g-block{
    padding: 0em 1em;
}